.nm-search-view
{
    border-radius: 10px;
    border: 1px solid;
    height: 25px;
    background: white;

    > span.icon
    {
        padding: 10px 0px 0px 10px;
        color: gray;
        &:hover
        {
            cursor: pointer;
        }
    }

    input[type="search"]
    {
        border: none;
        background: transparent;
        width: 200px;
        padding: 4px 10px 4px 10px
    }
}
